/* :::::Para Dispositivos MOBILES:::: */
/* section general de Experiencias */
.educations {
  display: flex; 
  flex-direction: column; /* para integrar las imagenes ola en columna*/
}

/* section del cuerpo de Educación */
.educations-body {
  max-width: 980px; /* que tenga un ancho máximo a 980px */
  margin: 0 auto; /* para centrar el margen de los elementos ya que fijamos en 10px dentro de los elementos skills-skill y por defecto lo alinea a la izquierda */
  background-color: #0066FF; /*var(--navbar-shallow-color); color de fondo usando una variable que esta a la raiz del documento .:root */
  color: var(--text-color-inverse); /* idem anterior pero en el color del texto */
  justify-content: center;
  align-items: center;
  padding: 0; /* lo anulamos ya que por defecto al ser ul lista desordenada agrega un espacio para el punto al lado del elemento */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
  border-radius: 42px; /* redondeo los bordes-puntas del botón */
  border: 0.25px solid var(--navbar-shallow-color);
}

.educations-body:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
  border: 0.25px solid #06ccff;
}

.educations-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  margin: 25px;
  cursor: pointer none;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}

.educations-title::after, .educations-title::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #06ccff;
  transition: all 1s;
}

.educations-title::after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #06ccff;
  border-left: 5px solid #06ccff;
}

.educations-title::before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #06ccff;
  border-right: 5px solid #06ccff;
}

.educations-title:hover {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.educations-title:hover::before, .educations-title:hover::after {
  width:100%;
  height:100%;
}


/* Imagen institución */
.education-img-ministerio {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-cessi {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-inti {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-bertoldi {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-pivotpoint {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 10px; */
}

.education-img-cervantes {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

.education-img-unc {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 30px; */
}

.education-img-facultad {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 30px; */
}

.education-img-uncicons {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  /*padding-top: 40px;
  padding-bottom: 20px; */
}

.education-img-secundaria {
  width: 0%;  /* foto de perfil que sea el 75% de mi viewport */
  /*max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
}

/* al rededor de cada experiencia*/
.education {
  padding: 25px; /* añadimos espacios */
  max-width: 500px; /* para que el texto al ampliar el viewport no se amplie a lo ancho le pongo un máximo de 6 -7 palabras. */
  margin: 0 auto; /* el contenido queda centrado modo tipo tablet-intermedio. */
}

.education:hover {
  transform: translateY(-20px);
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s all;
  border-radius: 5%;
}


.education-certification {
  font-size: 25px;
  font-weight: bold;
  color: var(--secondary-color);
  }

.education-institution {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
  color: #a8a8a9;
}

.education-date {
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.education-description {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

/* _______________________________________________________________________*/

/* ==========================RESPONSIVE=============================*/

/* Style:  :::::Para Dispositivos DESKTOP::::  que se aplicaran en dispositivos como mínimo 950px en adelante con @media (aplicar desde 950 píxeles en adelante) */
@media (min-width: 950px) {
  body {
    
  }

  .educations-title {
    font-size: 50px;
    margin: 35px;
  }

  .empty {
  display: flex;
  width: 100%;  /* foto de perfil que sea el 75% de mi viewport */
  max-width: 350px; /* que la imagen no se amplie más alla de los 300 pixeles */
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: -10px;
  }

/* Div logo */
  .education-logo-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 300 pixeles */
    margin: 0 auto;
    background: rgb(255, 51, 0); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* que tenga una sombra atras de 0 en el desplazamiento en el eje x, 4px hacia abajo en el eje y, 10px de blur/difuminado de la sombra, de color negro con un 25% de transpariencia */
    border-radius: 10px; /* redondeo los bordes-puntas del botón */
    padding: 2em 0.7em; /* espaciado al rededor del elemento: 50% arriba y abajo y 70% a los costados */
    border: 2px solid #fee800;
    transition: 0.8s;
  }

  .education-logo-img:hover {
  transform: translateY(10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  cursor: pointer none;
  transition: 0.8s;
  border-radius: 25%;
  border-width: solid transparent;
  border: 2px solid #050505;
  }


/* Imagen institución */
  .education-img-ministerio {
    width: 75%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-cessi {
    width: 90%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-inti {
    width: 70%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-bertoldi {
    width: 70%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-pivotpoint {
    width: 45%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 10px;
  }

  .education-img-cervantes {
    width: 150%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-img-unc {
    width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 30px;
  }

  .education-img-facultad {
    width: 80%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 40px;
  }

  .education-img-uncicons {
    width: 55%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .education-img-secundaria {
    width: 60%;  /* foto de perfil que sea el 75% de mi viewport */
    max-width: 350px; /* que la imagen no se amplie más alla de los 350 pixeles */
  }

  .education-certification {
    font-size: 40px;
  }

  .education-certification:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    cursor: pointer none;
    border-radius: 15px; /* redondeo los bordes-puntas del botón */
    transition: 1s;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.25px solid #06ccff;
  }



  .education-institution {
    font-size: 25px;
  }

  .education-date {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }

  .education-description {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.3;
  }

  /* al rededor de cada experiencia*/
  .education {
    padding: 0 2.5px; /* eliminamos espacios */
  }

  .education:hover {
    transform: translateY(none);
    transform: scale(none);
    box-shadow: none;
    cursor: pointer none;
    transition: none;
    border-radius: none;
  }

  .education_left {
    text-align: right;
  }

  .educations-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--text-color-inverse);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--text-color-inverse);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
}